*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;


}

.banner{
     width: 1380px; 
     height: 650px;
     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(back.jpg);
     background-size: cover;
     background-position: center;

}
.navbar{
    width: 1200;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    cursor: pointer;

}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative

}
.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 148, 148);
    text-transform: uppercase;
}
.navbar ul li ::after {
    content: "" ;
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover:after {
    width: 100;

}
.content{
    width: 1400;
    position: absolute;
    top: 300;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}
.content h1 {
    font-size: 70px;
    margin-top:80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}